<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"><div class="panel-title">Sobre</div></div>
      <div class="panel-body">
        <div class="input-group">
          <span class="input-group-addon">Autor</span>
          <input type="text" class="form-control" value="Fernando Machado" disabled />
        </div>
        <div class="input-group">
          <span class="input-group-addon">Telefone</span>
          <input type="text" class="form-control" value="(12) 99153-1023" disabled />
        </div>
        <div class="input-group">
          <span class="input-group-addon">E-mail</span>
          <input type="text" class="form-control" value="fernandomachado90@me.com" disabled />
        </div>
      </div>
      <div class="panel-footer">
        <div class="pull-right">
          <strong>v1.0</strong>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
