<div class="login" ng-controller="login as vm" ng-init="vm.initLogin()">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
    <form name="form" novalidate>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading"><div class="panel-title">Acesso</div></div>
          <div class="panel-body" ng-hide="utils.getCurrentUser()">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              <input type="text" class="form-control" name="login" ng-model="vm.login.login" required />
              <span class="input-group-addon" ng-messages="form.login.$error" ng-if="form.login.$invalid">
                <span ng-messages-include="views/messages.html"></span>
              </span>
            </div>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              <input type="password" class="form-control" name="password" ng-model="vm.login.password" required />
              <span class="input-group-addon" ng-messages="form.password.$error" ng-if="form.password.$invalid">
                <span ng-messages-include="views/messages.html"></span>
              </span>
            </div>
          </div>
          <div class="panel-body" ng-show="utils.getCurrentUser()">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              <input type="text" class="form-control" ng-value="utils.getCurrentUser().login" disabled />
            </div>
          </div>
          <div class="panel-footer">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="vm.validateLogin(vm.login)" ng-hide="utils.getCurrentUser()">
              <span class="glyphicon glyphicon-circle-arrow-up"></span> Login
            </button>
            <button type="submit" class="btn btn-default" ng-click="vm.logout()" ng-show="utils.getCurrentUser()">
              <span class="glyphicon glyphicon-remove"></span> Logout
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
