<div ng-controller="config as vm" ng-init="vm.initConfig()">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
    <form name="form" novalidate>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading"><div class="panel-title">Configurações</div></div>
          <div class="panel-body">
            <h5>Geral</h5>
            <div class="input-group">
              <span class="input-group-addon">Número de ítens por página</span>
              <input type="number" class="form-control" name="pageSize" ng-model="vm.config.pageSize" min="1" max="100" required />
              <span class="input-group-addon" ng-messages="form.pageSize.$error" ng-if="form.pageSize.$invalid">
                <span ng-messages-include="view/messages.html"></span>
              </span>
            </div>
            <br/>
            <div ng-show="users.isAdmin()">
              <h5>Firebase (<a href="https://console.firebase.google.com/" target="_blank">console</a>)</h5>
              <div class="input-group">
                <span class="input-group-addon">Project ID</span>
                <input type="text" class="form-control" name="firebaseProjectId" ng-model="vm.config.firebaseProjectId" />
                <span class="input-group-addon" ng-messages="form.firebaseProjectId.$error" ng-if="form.firebaseProjectId.$invalid">
                  <span ng-messages-include="view/messages.html"></span>
                </span>
              </div>      
              <div class="input-group">
                <span class="input-group-addon">API Key</span>
                <input type="text" class="form-control" name="firebaseApiKey" ng-model="vm.config.firebaseApiKey" />
                <span class="input-group-addon" ng-messages="form.firebaseApiKey.$error" ng-if="form.firebaseApiKey.$invalid">
                  <span ng-messages-include="view/messages.html"></span>
                </span>
              </div>
              <div class="input-group">
                <span class="input-group-addon">Email</span>
                <input type="email" class="form-control" name="firebaseEmail" ng-model="vm.config.firebaseEmail" />
                <span class="input-group-addon" ng-messages="form.firebaseEmail.$error" ng-if="form.firebaseEmail.$invalid">
                  <span ng-messages-include="view/messages.html"></span>
                </span>
              </div>
              <div class="input-group">
                <span class="input-group-addon">Password</span>
                <input type="password" class="form-control" name="firebasePassword" ng-model="vm.config.firebasePassword" />
                <span class="input-group-addon" ng-messages="form.firebasePassword.$error" ng-if="form.firebasePassword.$invalid">
                  <span ng-messages-include="view/messages.html"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="vm.saveConfig(vm.config)">
              <span class="glyphicon glyphicon-ok"></span> Salvar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
