<div ng-controller="config as vm" ng-init="vm.initConfig()">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
    <form name="form" novalidate>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading"><div class="panel-title">Configurações</div></div>
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon">Ítens por página</span>
              <input type="number" class="form-control" name="pageSize" ng-model="vm.config.pageSize" min="1" max="999" />
              <span class="input-group-addon" ng-messages="form.pageSize.$error" ng-if="form.pageSize.$invalid">
                <span ng-messages-include="view/messages.html"></span>
              </span>
            </div>
          </div>
          <div class="panel-footer">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="vm.saveConfig(vm.config)">
              <span class="glyphicon glyphicon-ok"></span> Salvar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
