<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"><div class="panel-title">Sobre</div></div>
      <div class="panel-body">
        <p>O aplicativo <strong>Eliza</strong>, um software sem fins lucrativos, começou a ser desenvolvido 
          em 2017, com o propósito de facilitar o gerenciamento  de estudantes, professores e cursos 
          no <strong>Teatro da Rua Eliza</strong> de <strong>São José dos Campos</strong> (SP). 
          Desde então, este software vem sendo usado  em outros espaços culturais, 
          como a <strong>Teatraria ao Cubo</strong> em <strong>Porto Alegre</strong> (RS).
        </p>
        <div class="input-group">
          <span class="input-group-addon">GitHub</span>
          <input type="text" class="form-control" value="https://github.com/fernandomachado90/eliza/" disabled />
        </div>
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-default" back-on-click="back-on-click">
          <span class="glyphicon glyphicon-circle-arrow-left"></span> Voltar
        </button>
      </div>
    </div>
  </div>
</div>
