<div ng-controller="header as vm">
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <ul class="nav navbar-text">
        <li>
          <div ng-show="users.isReal() && !alert.visible">
            <a class="credits" ng-click="vm.go('login')">
              <span class="glyphicon glyphicon-user"></span>
              {{users.getCurrent().login}}
            </a>
          </div>
          <div ng-show="alert.visible" class="alert {{alert.type}}" ng-click="alert.dismiss()">
            <span ng-bind-html="alert.message"></span>
            <span class="alert-dismiss">&times;</span>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-text navbar-right">
        <a class="credits" ng-click="vm.go('credits')">
          feito com <span class="glyphicon glyphicon-heart"></span> por Fernando Machado
        </a>
      </ul>
    </div>
  </nav>
</div>
