<span class="input-messages">
  <span ng-message="required">obrigatório</span>
  <span class="error" ng-message="minlength">muito curto</span>
  <span class="error" ng-message="maxlength">muito longo</span>
  <span class="error" ng-message="email">inválido</span>
  <span class="error" ng-message="date">inválida</span>
  <span class="error" ng-message="time">inválido</span>
  <span class="error" ng-message="mask">inválido</span>
  <span class="error" ng-message="password">não confere</span>
  <span class="error" ng-message="min">abaixo do limite</span>
  <span class="error" ng-message="max">acima do limite</span>
</span>
